<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: Index</title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
</head>

<body>

<div id="main">

    <h1 class="page-title">OpenUI5 and SAPUI5 - DocSet for Dash</h1>


    <p><img src="icotxt_white_220x72_blue_open.png" /></p>
    <p><table>
    <tr>
        <th>OpenUI5/SAPUI5-Version</th>
        <td><%= version %></td>
    </tr>
    <tr>
        <th>Author</th>
        <td>
            <a href="http://www.monavari.de">Constantin Lebrecht</a>
        </td>
    </tr>
    <tr>
        <th>DashDocSet-Version</th>
        <td><%= version %></td>
    </tr>
</table></p>
    <p>
        This DocSet is based on original API Documentation that may be found on <a href="http://sap.github.io/openui5/">SAP GitHub Page.</a>
    </p>
</div>

<br clear="both">

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
